.logo img {
  display: none;
}

.logo span {
  display: none;
}

.logo:after {
  content: 'iPass--Wi-Fi Without Boundaries';
  font-weight: bold;
  font-size: 20px;
  margin-left: 6px;
  margin-right: 12px;
  color: white;
}


